
/* Currently removed from boxes:create universal box for general CSS characteristics*/
.box{

}
#test {
	width:100px;
	height:100px;
	background:yellow;
}

/*individual box CSS for control*/

.box1{
	color:white;
	width:100px;
	height:100px;
	background:red;
	display:inline-block;
}

.box2{
	color:white;
	width:100px;
	height:100px;
	background:blue;
	display:inline-block;
}

.box3{
	color:white;
	width:100px;
	height:100px;
	background:green;
	display:inline-block;
}

.box4{
	color:white;
	width:100px;
	height:100px;
	background:purple;
	display:inline-block;
}


/*create CSS id state for use in JS game functionality*/
#on{
	width:100px;
	height:100px;
	background:black;

}